<% if current_user %>
	<div id="posit_button"><%= button_to('Posit New Problem', new_problem_path, method: :get) %></div>
<% end %>
<div class="container">
    <div class="centered">
        <h2>popular discussions</h2>
    </div>
    <div id="problem-menu">
        <% @problems.each do |problem| %>
            <div class="problem-container">
                <div class="problem">
                    <%= link_to content_tag(:span, problem.title),  problem_path(problem) %>
                </div>
                <div class="bubble-button">go</div>
            </div>
        <% end %>
    </div>
    </div>
</div>
