<div class="container">
    <div class="frame">
        <div class="centered">
            <h2>popular discussions</h2>
        </div>
        <div id="problem-menu">
        <% @problems.each do |problem| %>
            <div class="problem-container" onclick="location.href='<%=problem_path(problem)%>';" style="cursor: pointer;">
                <div class="problem"><%= problem.title %></div>
                <div class="bubble-button-container">
                    <div class="bubble-button">go</div>
                </div>
            </div>
        <% end %>
        </div>
        <% if current_user %>
            <div class="problem-container" onclick="location.href='<%=new_problem_path%>';" style="cursor: pointer;">
                <div class="percolator_button">
                    <input type="submit" value="start a discussion">
                </div>
           </div>
        <% end %>
    </div>
</div>
