<% if current_user %>
	<div id="posit_button"><%= button_to('Posit New Problem', new_problem_path, method: :get) %></div>
<% end %>
<div class="container">
    <div id="problem-menu">
        <% @problems.each do |problem| %>
            <div class="problem">
                <%= link_to problem.title, problem_path(problem) %><br>
            </div>
        <% end %>
    </div>
    </div>
</div>