@font-face {
  font-family: 'Opificio';
  src: url('Opificio.eot?#iefix') format('embedded-opentype'),
  url('Opificio.woff') format('woff'),
  url('Opificio.ttf')  format('truetype'),
  url('Opificio.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
