* {
  box-sizing: border-box;
}

@font-face {
  font-family: Opificio;
  src: '../fonts/Opificio.ttf';
}
@font-face {
  font-family: OpificioBold;
  src: asset-url("Opificio_Bold.ttf");
}
html {
  height: 100%;
}

body {
  background-color: #6D91C0;
  height: 100%;
}

h2, h3, h4, h5 {
  font-family: Opificio;
  color: #6D92FF;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#problem-menu {
  margin-left: auto;
  margin-right: auto;
}
#problem-menu .problem-container {
  padding: 5px;
  width: 100%;
}
#problem-menu .problem {
  float: left;
  height: 100%;
  padding: 5px;
  max-width: 500px;
  text-align: left;
}
#problem-menu .problem a {
  color: #666666;
  text-decoration: none;
}

.bubble-button-container {
  padding-top: 10px;
  height: 80px;
  vertical-align: center;
}

.bubble-button {
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Opificio;
  padding-top: 4px;
  color: #FFF;
  background-color: #6DA2FF;
  font-size: 14px;
  border-radius: 50px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}

.header {
  min-height: 74px;
  font-family: Opificio;
  color: #6DA2FF;
  background-color: #FFFFFF;
  font-size: 36px;
  width: 100%;
  vertical-align: middle;
}

.header_button {
  float: left;
  padding: 30px;
  font-size: 18px;
}

#detail-window button {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
  font-family: Opificio;
  font-size: 18px;
  background-color: #3A424F;
  max-width: 300px;
  border-radius: 10px;
  border: 0px;
  margin-left: 20px;
}

.header input[type=submit] {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  text-align: center;
  font-family: Opificio;
  background-color: #FFFFFF;
  max-width: 300px;
  max-width: 300px;
  border-radius: 10px;
  border: 0px;
}
.header image {
  float: left;
}
.header .brand {
  float: left;
  padding-top: 11px;
  padding-left: 20px;
}

.title-bar {
  width: 100%;
  background-color: #BAD3FF;
  border-top: 2px solid #6DA2FF;
  border-bottom: 2px solid #6DA2FF;
  font-family: Opificio;
  min-height: 5px;
  color: #3A424F;
  font-size: 14pt;
  text-align: center;
}

#canvas_container {
  position: absolute;
  left: 0px;
  top: 86px;
  z-index: 0;
}

#detail-window {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #6D91C0;
}

#detail-window-problem-container {
  float: left;
  padding: 20px;
  height: 100%;
  width: 70%;
  color: #FFFFFF;
}

#bubble-container {
  position: relative;
  background-color: #3A424F;
  width: 100%;
  min-height: 250px;
  z-index: 2;
}

.solution {
  width: 100%;
  background-color: #FFF;
  font-family: arial;
  color: #37517F;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.solution-form {
  position: absolute;
}

#user_login {
  float: right;
}
#user_login a {
  text-decoration: none;
  color: inherit;
}

#welcome_message {
  padding-top: 28px;
  text-align: right;
  font-size: 18px;
  float: left;
}

#user_logout {
  float: left;
}

#logout_button {
  font-size: 18px;
}

#posit_link a {
  color: #ffffff;
}

.brand a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.vote {
  padding-left: 10px;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.percolator_button {
  margin-right: auto;
  margin-left: auto;
}

.problem:link, .problem:visited, .problem:hover, .problem:active {
  text-decoration: none;
}

#new_problem {
  text-align: center;
}

.posit {
  font-size: 18px;
}

.frame {
  margin-top: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #bbbbbb;
  font-family: Opificio;
  font-size: 24px;
  max-width: 640px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-image: url("../images/congruent_outline.png");
  border: 1px solid #000000;
}
.frame input {
  width: 560px;
  border-radius: 10px;
  border: 3px solid #6DA2FF;
}
.frame textarea {
  width: 560px;
  height: 200px;
  border: 3px solid #6DA2FF;
  border-radius: 10px;
}
.frame input[type=submit] {
  vertical-align: middle;
  color: #FFFFFF;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  text-align: center;
  font-family: Opificio;
  background-color: #3A424F;
  border-radius: 10px;
  border: 0px;
}

.popup_form label {
  float: left;
  text-align: left;
  display: block;
}

#sign_up_form, #sign_in_form {
  text-align: center;
}

#too_many_chars {
  text-align: center;
  color: red;
}

._comment {
  padding: 10px;
}

.bubble {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bubble-content {
  position: relative;
  float: left;
  margin-left: 12px;
  margin-top: 12px;
  width: 75%;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.comment-form {
  background-color: #ff00ff;
  float: left;
  max-width: 65%;
  height: 350px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}
.comment-form ._comment_ {
  width: 96%;
  font-size: 36px;
}
.comment-form textarea {
  width: 90%;
  height: 10%;
  min-height: 5%;
  font-size: 36px;
}
.comment-form .comment-user {
  margin-top: 10px;
  font-size: 18px;
  color: #6da2ff;
}
.comment-form input[type=submit] {
  margin-right: 10%;
  float: right;
}

.vote-container {
  padding: 19px;
  text-align: center;
  float: left;
}

.detail-page-label {
  border-bottom: 1px solid black;
  font-size: 36px;
  color: #3A424F;
  font-family: Opificio;
}

.detail-page-text {
  padding: 20px;
  font-size: 24px;
  color: #FFFFFF;
  font-family: Opificio;
}

.header input[type=submit] {
  padding-top: 8px;
  vertical-align: middle;
  font-size: 18px;
  color: #6DA2FF;
  text-align: center;
  font-family: Opificio;
  background-color: #ffffff;
}

#improvement-form {
  background-color: #ff00ff;
  float: left;
}

.comment-description {
  font-size: 18px;
  margin: 10px;
}