@import "style_guide";

* {
  box-sizing: border-box;
  // overflow: hidden;
}

@font-face {
  font-family: Opificio;
  src: '../fonts/Opificio.ttf';
}


@font-face {
  font-family: OpificioBold;
  src: asset-url("Opificio_Bold.ttf");
}


html {
  height: 100%;
}

body {
  background-color: $body-background;
  height: 100%;
}

h2, h3, h4, h5 {
  font-family: Opificio;
  color: $h2-5;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#problem-menu {
  margin-left: auto;
  margin-right: auto;
  //max-width: 600px;
  //min-width: 600px;
  .problem-container {
    padding: 5px;
    width: 100%;
    //background-color: #FF0000;
  }
  .problem {
    float: left;
    height: 100%;
    padding: 5px;
    max-width: 500px;
    text-align: left;
    //background-color: #FFFFAA;
  }
  .problem a {
    color: $problem-link;
    text-decoration: none;
  }
}

.bubble-button-container {
  //float: right;
  padding-top: 10px;
  height: 80px;
  vertical-align: center;
  //background-color: #FF00FF;
}

.bubble-button {
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Opificio;
  padding-top: 4px;
  color: $bubble-button-font;
  background-color: $bubble-button-background;
  font-size: 14px;
  border-radius: 50px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}

.header {
  min-height: 74px;
  font-family: Opificio;
  color: $header-color;
  background-color: $header-background;
  font-size: 36px;
  width: 100%;
  vertical-align: middle;
}

.header_button {
  float: left;
  padding: 30px;
  font-size: 18px;
}

#detail-window button {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Opificio;
  background-color: #3A424F;
  max-width: 300px;
  border-radius: 10px;
  border: 0px;
}

.header {
  input[type=submit] {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    font-family: Opificio;
    background-color: $header-submit-button;
    max-width: 300px;
    max-width: 300px;
    border-radius: 10px;
    border: 0px;
  }
  image {
    float: left;
  }
  .brand {
    float: left;
    padding-top: 11px;
    padding-left: 20px;
  }
}

.title-bar {
  width: 100%;
  background-color: $title-bar-background-color;
  border-top: 2px solid $title-bar-top-border;
  border-bottom: 2px solid $title-bar-bottom-border;
  font-family: Opificio;
  min-height: 5px;
  color: $title-bar-font-color;
  font-size: 14pt;
  text-align: center;
}

#canvas_container {
  position: absolute;
  left: 0px;
  top: 86px;
  z-index: 0;
}

#detail-window {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color:$problem-container-background;
}


#detail-window-problem-container {

  float: left;
  padding: 20px;
  height: 100%;
  width: 70%;
  color: $problem-container-font;
  border-bottom: 1px solid $problem-container-btm-border;
}

#bubble-container {
  position: relative;
  background-color: $bubble-container-background;
  width: 100%;
  min-height: 250px;
  z-index: 2;
}

.solution {
  width: 100%;
  background-color: $solution-background;
  font-family: arial;
  color: $solution-font-color;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.solution-form {
  position: absolute;
}

#user_login {
  float: right;
  a {
    text-decoration: none;
    color: inherit;
  }
}

#welcome_message {
  padding-top: 28px;
  text-align:right;
  font-size: 18px;
  float: left;
}

#user_logout {
  font-size: 14px;
  text-align: left;
  float: left;
}

#posit_link a {
  color: $posit-link;
}

.brand a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.vote {
  padding-left: 10px;
}

.hidden {
  display: none;
}

.comment-form {
  display: inline-block;
  clear: both;
  float: left;
}

.centered {
  text-align: center;
}

.percolator_button {
  margin-right: auto;
  margin-left: auto;
}

.problem {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}

#new_problem {
  text-align: center;
}

.posit {
  font-size: 18px;
}

.frame {
  margin-top: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: $frame-font-color;
  font-family: Opificio;
  font-size: 24px;
  max-width: 640px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-image: url('../images/congruent_outline.png');
  border: 1px solid $frame-border;
  input {
    width: 560px;
    border-radius: 10px;
    border: 3px solid $frame-input-border;
  }
  textarea {
    width: 560px;
    height: 200px;
    border: 3px solid $frame-textarea-border;
    border-radius: 10px;
  }
  input[type=submit] {
    vertical-align: middle;
    color: $frame-button-font-color;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    font-family: Opificio;
    background-color: $frame-input-background;
    border-radius: 10px;
    border: 0px;
  }
}

.popup_form label {
  float: left;
  text-align: left;
  display: block;
}

#sign_up_form, #sign_in_form {
  text-align: center;
}

#too_many_chars {
  text-align: center;
  color: red;
}

// .comment_form {
//   float: right;
// }

._comment {
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right: 12px solid #FFF;
  // position:absolute;
  left:-10px;
  top:12px;
}

.bubble {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bubble-content {
  position:relative;
  float:left;
  margin-left:12px;
  margin-top: 12px;
  width: 75%;
  padding:0px 20px;
  border-radius:10px;
  background-color:#FFFFFF;
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.comment-form {
  max-width: 65%;
  min-width: 65%;
  height: 50%;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  ._comment_{
    width: 96%;
    font-size: 0.5em;
  }
  textarea {
    width: 90%;
    height: 10%;
    min-height: 5%;
    font-size: 1em;
  }
  .comment-user {
    font-size: 1.5em;
    color: #6da2ff;
  }
  input[type=submit] {
    margin-right: 10%;
    float: right;
  }
}

.vote-container {
  text-align: center;
  float: left;
}

.detail-page-label {
  font-size: 24px;
  color: $problem-container-synopsis-title;
  font-family: Opificio;
}

#detail-page-text {
  font-size: 18px;
  color: $problem-container-synopsis-title;
  font: Opificio;
}

.header input[type=submit] {
  padding-top:8px;
  vertical-align: middle;
  font-size: 18px;
  color: #6DA2FF;

  text-align: center;
  font-family: Opificio;
  background-color: #ffffff;
}

