*{
    box-sizing: border-box;
}

@font-face {
    font-family: Opificio;
    src: asset-url('Opificio.ttf');
}

@font-face {
    font-family: OpificioBold;
    src: asset-url('Opificio_Bold.ttf');
}

body {

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

#problem-menu .problem{
    margin: 5px;
    height: 30px;
    text-align:center;
    vertical-align:middle;
    background-color: #fff;
    opacity: .5;
    transition: opacity .5s ease-out;
}

#problem-menu .problem:hover {
    opacity: 1;
}

#problem-menu .problem a{
    color: #666666;
    text-decoration: none;
}

.header {
    font-family: Opificio;
    color: #6DA2FF;
    font-size: 36px;
    padding: 10px;
    width: 100%;
    vertical-align:middle;
    box-shadow: 0px 10px 5px #BBB;
    z-index: 2;
}

.header image {
    float: left;

}

.header .brand {
    float: left;
    padding-top: 11px;
    padding-left: 20px;
}

.title-bar {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #5D6980;
    font-family: Opificio;
    color: #aaa;
    font-size: 14pt;
    text-align: center;
}

#canvas_container {
    position: absolute;
    left: 0px;
    top: 98px;
    z-index:0;
}

.chart-popup {
   width:100%;
   height:100%;
}

.chart-popup h2 {
    font-family: Opificio;
    color: #6DA2FF;
    font-size: 24px;
}

.chart-popup h4 {
    font-family: Opificio;
    color: #6DA2FF;
    font-size: 24px;
}

.chart-popup #problem-container {
    position:relative;
    padding:20px;
    height:70%;
    color: #888888;
    background-color: #FFFFFF;
    border-bottom: 1px solid #3A424F;
    z-index:1;
}

.chart-popup #problem-container button{
    color: #FFF;
    background-color: #5D6980;
    bottom: 200;
}

.chart-popup #bubble-container {
    position:absolute;
    background-color: #3A424F;
    bottom:0;
    left:0;
    width:100%;
    height:30%;
    z-index:3;
}

.solution {
    width: 100%;
    background-color: #FFF;
    font-family: arial;
    color: #37517F;
    font-size: 12pt;
    text-align: center;
    padding: 5px;
    z-index: 1;
}
