*{
    box-sizing: border-box;
}

@font-face {
    font-family: Opificio;
    src: asset-url('Opificio.ttf');
}

@font-face {
    font-family: OpificioBold;
    src: asset-url('Opificio_Bold.ttf');
}

html {
    height: 100%;
}

body {
    height:100%;
}

.container {
  clear: both;
  width:100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#problem-menu {
}

#problem-menu .problem{
    margin: 5px;
    height: 30px;
    text-align:center;
    vertical-align:middle;
    background-color: #fff;
    opacity: .5;
    transition: opacity .5s ease-out;
}

#problem-menu .problem:hover {
    opacity: 1;
}

#problem-menu .problem a{
    color: #666666;
    text-decoration: none;
}

.header {
    font-family: Opificio;
    color: #6DA2FF;
    font-size: 36px;
    width: 100%;
    vertical-align:middle;
}

.header image {
    float: left;

}

.header .brand {
    float: left;
    padding-top: 11px;
    padding-left: 20px;
}

.title-bar {
    width: 100%;
    background-color: #BAD3FF;
    border-top: 2px solid #6DA2FF ;
    border-bottom: 2px solid #6DA2FF ;
    font-family: Opificio;
    color: #3A424F;
    font-size: 14pt;
    text-align: center;
}

#canvas_container {
    position: absolute;
    left: 0px;
    top: 99px;
    z-index:0;
}

.chart-popup {
  width: 100%;
  height: 100%;
}

.chart-popup h2 {
    font-family: Opificio;
    color: #BAD3FF;
    font-size: 24px;
}

.chart-popup h4 {
    font-family: Opificio;
    color: #BAD3FF;
    font-size: 24px;
}

.chart-popup #problem-container {
    position:relative;
    padding:20px;
    height:70%;
    color: #888888;
  background-color: #333333;
  border-bottom: 1px solid #3A424F;
    z-index:1;
}

.chart-popup #problem-container h3 {
    color: #CCCCCC;
}

.chart-popup #problem-container p {
    color: #888888;
}

.chart-popup #problem-container button{
    color: #FFF;
    background-color: #3A424F;
    bottom: 200;
}

.chart-popup #bubble-container {
    position:absolute;
    background-color: #FFFFFF;
    bottom:0;
    left:0;
    width:100%;
    height:30%;
    z-index:3;
}

.solution {
  width: 100%;
  background-color: #FFF;
  font-family: arial;
  color: #37517F;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.solution-form {
  position: absolute;
}

#sign_up_form {
  font-size: 10px;
  display: none;
}

#sign_in_form {
  font-size: 10px;
  display: none;
}

#sign_up_button {
  -ms-transform: scale(.5, .5); /* IE 9 */
  -webkit-transform: scale(.5, .5); /* Chrome, Safari, Opera */
  transform: scale(.5, .5);
}

#sign_up {
  min-width: 199px;
  min-height: 193px;
  float: right;
}

#sign_in_button {
  -ms-transform: scale(.5, .5); /* IE 9 */
  -webkit-transform: scale(.5, .5); /* Chrome, Safari, Opera */
  transform: scale(.5, .5);
}

#sign_in {
  min-width: 199px;
  min-height: 165px;
  float: right;
}

.brand a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.upvote {
  margin-top: 30px;
}

.downvote {
  margin-top: 30px;
}
