@import "style_guide";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Opificio;
  src: '../fonts/Opificio.ttf';
}


@font-face {
  font-family: OpificioBold;
  src: asset-url("Opificio_Bold.ttf");
}


html {
  height: 100%;
}

body {
  background-color: $body-background;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#problem-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  min-width: 600px;
  .problem {
    padding: 5px;
    max-width: 500px;
    text-align: left;
    /*background-color: #FFFFAA;*/
  }
  .problem-container {
    padding: 5px;
    height: 100%;
    /*background-color: #FF0000;*/
    /*border: 1px solid black;*/
  }
  .problem a {
    color: $problem-link;
    text-decoration: none;
  }
}

.header {
  min-height: 74px;
  font-family: Opificio;
  color: $header-color;
  background-color: $header-background;
  font-size: 36px;
  width: 100%;
  vertical-align: middle;
}

.header_button {
  float: left;
  padding: 30px;
  font-size: 18px;
}

.header {
  input[type=submit] {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    font-family: Opificio;
    background-color: $header-submit-button;
    max-width: 300px;
    border-radius: 10px;
    border: 0px;
  }
  image {
    float: left;
  }
  .brand {
    float: left;
    padding-top: 11px;
    padding-left: 20px;
  }
}

.title-bar {
  width: 100%;
  background-color: $title-bar-background-color;
  border-top: 2px solid $title-bar-top-border;
  border-bottom: 2px solid $title-bar-bottom-border;
  font-family: Opificio;
  min-height: 5px;
  color: $title-bar-font-color;
  font-size: 14pt;
  text-align: center;
}

#canvas_container {
  position: absolute;
  left: 0px;
  top: 108px;
  z-index: 0;
}

#chart-popup {
  width: 100%;
  height: 100%;
  h1 {
    font-family: Opificio;
    color: $chart-popup-h1;
  }
}

h2, h3, h4, h5 {
  font-family: Opificio;
  color: $h2-5;
}

#chart-popup #problem-container {
  position: relative;
  padding: 20px;
  height: 100%;
  color: $problem-container-font;
  background-color: $problem-container-background;
  border-bottom: 1px solid $problem-container-btm-border;
  z-index: 1;
}

#problem-container {
  p {
    color: $problem-container-font;
  }
  button {
    color: $problem-container-button;
    background-color: $problem-container-background;
  }
}

#bubble-container {
  position: relative;
  background-color: $bubble-container-background;
  width: 100%;
  min-height: 250px;
  z-index: 2;
}

.solution {
  width: 100%;
  background-color: $solution-background;
  font-family: arial;
  color: $solution-font-color;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.solution-form {
  position: absolute;
}

#user_login {
  float: right;
  a {
    text-decoration: none;
    color: inherit;
  }
}

#welcome_message {
  padding-top: 30px;
  text-align:right;
  font-size: 14px;
  float: right;
}

#user_logout {
  font-size: 14px;
  text-align: right;
  float: right;
}

#posit_link a {
  color: $posit-link;
}

.brand a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.upvote, .downvote {
  padding-top: 10px;
  position: relative;
  float: left;
}

.hidden {
  display: none;
}

.comment-form {
  display: inline-block;
  clear: both;
  float: left;
}

.centered {
  text-align: center;
}

.bubble-button {
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Opificio;
  padding-top: 4px;
  color: $bubble-button-font;
  background-color: $bubble-button-background;
  border-radius: 50px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}

#percolator_button {
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  text-align: center;
  font-family: Opificio;
  background-color: $percolator-button-background;
  color: $percolator-font-color;
  max-width: 300px;
  border-radius: 10px;
}

.problem {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}

#new_problem {
  text-align: center;
}

.posit {
  font-size: 18px;
}

.frame {
  margin-top: 40px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: $frame-font-color;
  font-family: Opificio;
  font-size: 24px;
  max-width: 640px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-image: url('../images/congruent_outline.png');
  border: 1px solid $frame-border;
  input {
    width: 560px;
    border-radius: 10px;
    border: 3px solid $frame-input-border;
  }
  textarea {
    width: 560px;
    height: 200px;
    border: 3px solid $frame-textarea-border;
    border-radius: 10px;
  }
  input[type=submit] {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    font-family: Opificio;
    background-color: $frame-input-background;
    max-width: 300px;
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    font-family: Opificio;
    max-width: 300px;
    border-radius: 10px;
    border: 0px;
  }
}

.popup_form label {
  float: left;
  text-align: left;
  display: block;
}

#sign_up_form, #sign_in_form {
  text-align: center;
}

#too_many_chars {
  text-align: center;
  color: red;
}

// .comment_form {
//   float: right;
// }

._comment {
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right: 12px solid #FFF;
  position:absolute;
  left:-10px;
  top:12px;
}

.bubble {
  margin-top: 20px;
}

.bubble-content {
  position:relative;
  float:left;
  margin-left:12px;
  margin-top: 12px;
  width: 75%;
  padding:0px 20px;
  border-radius:10px;
  background-color:#FFFFFF;
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.comment-form {
  max-width: 80%;
  ._comment_{
    width: 70%;
    font-size: 0.5em;
  }
  textarea {
    width: 1000px
  }
  .comment-user {
    font-size: 1.5em;
    color: #6da2ff;
    // font: ;
  }
}
/*
#footer {
    height: 40px;
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 0px;
    color: #fff;
    text-align: center;
    background-color: #FE6960;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 5px 5px 0 0;
    z-index: 999;
    font-family: arial;
    text-transform: uppercase;
    padding-top: 10px;
    z-index: 1;
}*/
