$body-background: #6D91C0;
$header-color: #6DA2FF;
$header-background: #FFFFFF;
$header-submit-button: #FFFFFF;
$problem-link: #666666;
$title-bar-background-color: #BAD3FF;
$title-bar-top-border: #6DA2FF;
$title-bar-bottom-border: #6DA2FF;
$title-bar-font-color: #3A424F;
$chart-popup-h1: #6DA2FF;
$h2-5: #6D92FF;
$problem-container-font: #FFFFFF;
$problem-container-background: #6D91C0;
$problem-container-btm-border: #3A424F;
$problem-container-button: #FFF;
$problem-container-synopsis-title: #3A424F;
$bubble-container-background: #3A424F;
$solution-background: #FFF;
$solution-font-color: #37517F;
$posit-link: #ffffff;
$bubble-button-font: #FFF;
$bubble-button-background: #6DA2FF;
$percolator-button-background: #3A424F;
$percolator-font-color: #FFF;
$frame-font-color: #bbbbbb;
$frame-button-font-color: #FFFFFF;
$frame-border: #000000;
$frame-input-border: #6DA2FF;
$frame-textarea-border: #6DA2FF;
$frame-input-background: #3A424F;

